<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.hovermind.oauthacf">

    <uses-permission android:name="android.permission.INTERNET" />


    <application>

        <activity
            android:name=".RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${hostName}"
                    android:scheme="${schemeName}" />
            </intent-filter>
        </activity>

    </application>

</manifest>
